body, html {
  width: 100%;
  margin: 0;
  padding: 0;

  background-color: #ebebeb;
}

* {
  box-sizing: border-box;
  font-family: nunito;
}

.body-container {
  
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.container-white {
  background-color: #FFF;
  width: 100%;
  margin: 0;
  padding: 0;

  color: #222;
}

.container-orange {
  background-color: #FDA172;
  width: 100%;
  margin: 0;
  padding: 0;
}

.container-orange p {
  color: white;
}

.sub-tainer {
  width: 60%;
  margin: 0px auto;
  padding: 50px 0px;

}

/* Style the navigation bar */
.navbar {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, .7);
  padding: 15px 20px;
  transition: 0.5s;

  width: 100%;
}

/* Style the logo */
.logo {
  display: block;
  height: 120px;
  transition: 0.5s;
  cursor: pointer;
}

/* Style the navigation links */
.nav-links {
  display: flex;
}

.nav-links li {
  margin-right: 50px;
}

.nav-links a {
  text-decoration: none;
  color: #000;
  font-weight: 100;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff6b6b;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
  gap: 10px; /* Spacing between photos */
  max-width: 800px; /* Set a maximum width for the gallery */
  margin: 0 auto; /* Center the gallery horizontally */
}

.photo {
  position: relative;
  overflow: hidden;
  border: 2px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.photo img {
  width: 100%;
  height: auto;
  display: block;
  transition: transform 0.3s;
}

.photo:hover img {
  transform: scale(1.1); /* Zoom in on hover */
}

.slideshow {
  position: relative;
  z-index: 0;

  width: 100%;
  height: 500px;
  margin: 0;
  padding: 0;
  background-color: white;

  overflow: hidden;
}

.slideshow img {
  margin-top: 300px;
  width: 100%;
  display: block;
  margin: auto;
  object-fit: cover;

}

.floating-box {
  position: absolute;
  top: 50%; /* Adjust the vertical position */
  left: 50%; /* Adjust the horizontal position */
  transform: translate(-50%, -50%); /* Center the text */
  color: white; /* Set the text color */
  padding: 10px; /* Adjust padding for the text */
  text-align: center;

  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}